<footer>

    <div class="footer-info">
        <div class="footer-info-socials">
            <a href="https://www.facebook.com/profile.php?id=61585634826912"><i
                    class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/wander_lust_1304/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/manas-pasarkar-807400309/"><i class="fa-brands fa-linkedin"></i></a>
        </div>

        <div class="footer-info-brand"> &copy; WanderLust Pvt. Ltd.</div>

        <div class="footer-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>