<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row">
            <div class="col-6 offset-3 mt-3">
                <h1>Terms and Conditions</h1>
                <p>Please only enter valid listings and dont enter any fake listings</p>
                <p>By using this website, you agree to our terms and conditions</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-5 mt-3">
                <a href="/listings" class="btn btn-primary">Back to Listings</a>
            </div>
        </div>
    </body>