body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh !important;
}

.container {
    flex: 1;
}

/* Navbar */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}



/* Footer */
.footer-info-links a {
    text-decoration: none;
    color: #222222;
    margin-right: 0.5rem;
}

.footer-info-links a:hover {
    text-decoration: underline;
}

.footer-info-links,
.footer-info-socials,
.footer-info-brand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-info-socials i {
    margin-right: 1rem;
    font-size: 1.25rem;
}

.footer-info {
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}



/* Cards */

.card-home {
    border: none !important;
    margin-bottom: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}


/* card effect */

/* .card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
} */

.card-home:hover {
    transform: translateY(-5px);
    /* Lifts the card slightly upwards */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Enhances the shadow */
}

.submit-btn {
    background-color: #fe424d !important;
    border: none !important;
    color: white !important;
}

/* Show page */

.show-img {
    height: 30vh;
}

.btns {
    display: flex;
    margin-bottom: 2rem;
}

.show-card {
    border: none !important;
    padding-left: 0;
    padding-right: 0;
}

/* reviews star */

#reviewStar {
    color: rgb(255, 215, 0) !important;
}

/* map */


#map {
    height: 400px;
    width: 100%;
}


/* filter */

.filter {
    margin-top: 2rem;
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;
    opacity: 0.7;
}

#filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.filter:hover {
    opacity: 1;
    /* text-decoration: underline; */
    cursor: pointer;
}

.filter p {
    font-size: 0.8rem;
}

.tax-info {
    display: none;
}

.tax-switch {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter a {
    text-decoration: none;
    color: black;
}